



 * {
  margin: o;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  margin: auto;
  width: 80%;
}

.flex {
  display: flex;
}

.flexx {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* Section 1 */
h3, h4 {
  font-weight: lighter;
  margin-left: 7%;
  margin-bottom: .5%;
}

.flex-one img {
  width: 100%;
}

.align {
  align-items: center;
}

.flex-one .area {
  justify-content: space-evenly;
}

.header-one {
  justify-content: space-between;
  padding: 5px 3px;
}

ul {
  list-style: none;
  display: flex;
}

ul, li {
  margin-right: 50px;
}

a {
  text-decoration: none;
  color: black;
}

.links {
  border-right: 2px solid #ccc;
}

.icon {
  margin-right: 10px; 
  margin-left: 30px; 
}

.auto-d h1 {
  width: 80%;
  margin: auto;
  font-size: 50px;
  margin-top: 15px;
}

.other-services {
  display: flex;
  width: 80%;
  margin: 50px auto;
}

.first-image {
  width: 80%;
}

.second-image {
  width: 75%;
  margin-left :210px;
}

.other-services p {
  width: 100%;
  font-size: 40px;
  text-align: end;
}

.services-pages {
  display: flex;
  width: 80%;
  margin: 50px auto;
}

.services-pages .small-text  {
  width: 60%;
  text-align: justify;
}

.small-text p {
  width: 100%;
  text-align: justify;
  font-size: 20px;
}

.row-two {
  background-color: #F2F2F2;
  padding: 3%;
}

#our-forte h4 {
  text-align: center;
  font-size: 20px;
}

#our-forte h2 {
  width: 60%;
  text-align: center;
  padding-top: 20px;
  margin:  0 auto 40px auto;
  font-size: 48px;
}

.flex-aligned {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}

.flex-box {
  justify-content: center;
  align-items: center;
  padding: 40px;
  height: 180px;
  width: 23%;
  text-align: center;
  background-color: #FFFFFF;
  margin-right: 1%;
  margin-bottom: 1%;
  color: black;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-box p {
  padding-top: 5px;
}

.flex-box:hover {
  background-color: #FF6433;
  color: white;
  font-weight: bold;
}

.forte-link {
  margin: auto;
  width: 65%;
  justify-content: flex-end;
  padding-top: 10px;
}

.forte-link a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.forte-link a:hover {
  color: #FF6433;
}

.contact-bg {
  background-image: url(https://res.cloudinary.com/lovelyfin00/image/upload/v1650401199/work%20images/Image_1.png);
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 40vh;
}

.contact-bg2 {
  background-image: url(https://res.cloudinary.com/lovelyfin00/image/upload/v1650401309/work%20images/ovGrEUgrkyE.png);
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 40vh;
}

.contact-flexbox {
  margin-left: 40%;
  background-color: #FF6433;
  height: 40vh;
  width: 30vw;
}

.flexbox-text h4 {
  padding-top: 60px;
  text-align: center;
  margin: auto;
  width: 80%;
  font-size: 24px;
  color: white;
}

.button {
  width: 65%;
  margin: 30px auto 0 auto;
}

.black-btn {
  text-decoration: none;
  color: white;
  padding: 15px;
  background-color: black;
  border-radius: 8px;
}

.flex-properties {
  width: 80%;
  margin:auto;
  justify-content: space-between;
}

.finsweet-ratings {
  margin-top: 5%;
}

.rating-amount {
  font-size: 48px;
  color: #661CE7;
  font-weight: bold;
}

.rating-amount:hover {
  color: #FF6433;
}

.finsweet-ratings p {
  color: #1E1B1B;
  opacity: 0.7;
}






